[submodule "kafaka/CryptocurrencyKafkaStreaming"]
	path = kafaka/CryptocurrencyKafkaStreaming
	url = git@github.com:Light0617/CryptocurrencyKafkaStreaming.git
[submodule "kafka/CryptocurrencyKafkaStreaming"]
	path = kafka/CryptocurrencyKafkaStreaming
	url = git@github.com:Light0617/CryptocurrencyKafkaStreaming.git
[submodule "CryptocurrencyKafkaStreaming"]
	path = CryptocurrencyKafkaStreaming
	url = git@github.com:Light0617/CryptocurrencyKafkaStreaming.git
